table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  max-height: 240px;
  overflow-y: scroll;
  margin-left: 1.8em;
  margin-top: 1em;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #eee;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
